.banner{
    height: 33rem;
    width: 100%;
    display: flex;
    align-items: center;
    background:url(../.././assets/img/backuser.png) ;
    background-size: cover;
    background-position: center;
}
.accordion-item{
    background-color: #FAFAFA !important;
}
.accordion-item button{
    background-color: #FAFAFA !important;
}