@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
  --color-primary: #0D6AEC;
  --color-primary-light: #5E9CF2;
  --color-primary-dark: #124B7B;
  --color-error: #F74133;
  --color-error-light: #ffa099d9;
  --color-success: #4CAF52;
  --color-success-light: #82c787;
  --color-warning: #FF9602;
  --color-warning-light: #f3ab47;
  --color-gray: #FBFBFF;
  --color-gray-light: #F9F9F9;
  --color-gray-dark: #bbbbbb;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Color */

.bg-primary {
  background-color: var(--color-primary) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}

.bg-primary-light {
  background-color: var(--color-primary-light) !important;
}
.text-primary-light {
  color: var(--color-primary-light) !important;
}

.bg-primary-dark {
  background-color: var(--color-primary-dark) !important;
}
.text-primary-dark {
  color: var(--color-primary-dark) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}
.text-success {
  color: var(--color-success) !important;
}

.bg-success-light {
  background-color: var(--color-success-light) !important;
}
.text-success-light {
  color: var(--color-success-light) !important;
}

.bg-warning {
  background-color: var(--color-warning) !important;
}
.text-warning {
  color: var(--color-warning) !important;
}

.bg-warning-light {
  background-color: var(--color-warning-light) !important;
}
.text-warning-light {
  color: var(--color-warning-light) !important;
}

.bg-error {
  background-color: var(--color-error) !important;
}
.text-error {
  color: var(--color-error) !important;
}

.bg-error-light {
  background-color: var(--color-error-light) !important;
}
.text-error-light {
  color: var(--color-error-light) !important;
}

.bg-gray {
  background-color: var(--color-gray) !important;
}
.text-gray {
  color: var(--color-gray) !important;
}

.bg-gray-light {
  background-color: var(--color-gray-light) !important;
}
.text-gray-light {
  color: var(--color-gray-light) !important;
}

.bg-gray-dark {
  background-color: var(--color-gray-dark) !important;
}
.text-gray-dark {
  color: var(--color-gray-dark) !important;
}

.w-1 {
  width: 1rem;
}
.w-2 {
  width: 1.5rem;
}
.w-3 {
  width: 2rem;
}
.w-4 {
  width: 2.5rem;
}
.w-5 {
  width: 3rem;
}
.w-6 {
  width: 3.5rem;
}
.w-7 {
  width: 4rem;
}
.w-8 {
  width: 4.5rem;
}
.w-9 {
  width: 5rem;
}
.w-10 {
  width: 5.5rem;
}
.w-11 {
  width: 6rem;
}
.w-12 {
  width: 6.5rem;
}
.w-13 {
  width: 7rem;
}
.w-14 {
  width: 7.5rem;
}
.w-15 {
  width: 8rem;
}
.w-16 {
  width: 8.5rem;
}
.w-17 {
  width: 9rem;
}
.w-18 {
  width: 9.5rem;
}
.w-19 {
  width: 10rem;
}
.w-20 {
  width: 15rem;
}
.w-100 {
  width: 100%;
}
.w-full {
  width: 100vw;
}

/* Height */
.h-1 {
  height: 1rem;
}
.h-2 {
  height: 1.5rem;
}
.h-3 {
  height: 2rem;
}
.h-4 {
  height: 2.5rem;
}
.h-5 {
  height: 3rem;
}
.h-6 {
  height: 3.5rem;
}
.h-7 {
  height: 4rem;
}
.h-8 {
  height: 4.5rem;
}
.h-9 {
  height: 5rem;
}
.h-10 {
  height: 5.5rem;
}
.h-11 {
  height: 6rem;
}
.h-12 {
  height: 6.5rem;
}
.h-13 {
  height: 7rem;
}
.h-14 {
  height: 7.5rem;
}
.h-15 {
  height: 8rem;
}
.h-16 {
  height: 8.5rem;
}
.h-17 {
  height: 9rem;
}
.h-18 {
  height: 9.5rem;
}
.h-19 {
  height: 10rem;
}
.h-20 {
  height: 15rem;
}
.h-100 {
  height: 100%;
}
.h-full {
  height: 100vh;
}

/* Font */
.text-sm {
  font-size: .75rem !important;
}
.text-md {
  font-size: 1rem !important;
}
.text-lg {
  font-size: 1.5rem !important;
}

a {
  text-decoration: none;
}

.breadcrumb-arrow {
  margin-left: 10px;
  margin-right: 10px;
}