.divider {
  display: block;
  height: 2.5rem;
  width: 1px;
  background-color: #000000;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -1rem;
}

/* Images Upload */
label.img-upload {
  padding: 2rem 4rem;
  cursor: pointer;
  border:  1px #bebebe dashed;
  border-radius: 8px;
  margin-right: 1rem;
  align-self: flex-start;
}

.img-upload input {
  display: none;
}

.img-preview {
  max-width: 10rem;
  margin-right: 1rem;
  height: 7rem;
}

.img-wrap{
  position: relative;
  margin-bottom: 1.5rem;
}

.img-wrap img {
  border: 1px rgb(163, 163, 163) solid;
}

.delete-img {
  position: absolute;
  z-index: 1;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  top: -1rem;
  right: 0;
}

.label-main-img {
  color: white;
  display: block;
  padding: 2px .3rem;
  position: absolute;
  border-radius: 100px;
  top: 5px;
  left: 5px;
  font-size: 7px;
}

/* Input Field */
.input-field {
  width: 100%;
  outline: none;
  padding: 10px .5rem;
  font-size: .8rem;
  border-radius: 10px;
  border: #3583EF solid 1px;
}

.react-select__control {
  border-radius: 10px;
  border: #3583EF 1px solid;
}

.button {
  padding: .5rem 1rem;
  border: none;
  border-radius: 10px;
}

.button-outline {
  background-color: white;
  border: 1px solid #3583EF;
  color: #3583EF;
}

.button-container {
  background-color: #3583EF;
  color: white;
}

/* Update Status Reservation */
.dropdown {
  position: relative;
  user-select: none;
}
.dropdown .dropdown-btn {
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  padding: 6px;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}
.dropdown .dropdown-content .dropdown-item{
  cursor: pointer;
  transition: all 0.2s;
  padding: 2px;
}
.dropdown .dropdown-content .dropdown-item:hover{
  cursor: pointer;
  background-color: #f4f4f4;
}

/* ProfileAdmin */
.profileadmin{
  border-radius: 32px 32px 0px 0px;
  background: linear-gradient(180deg, #E9EDF9 0%, #E9EDF9 30%, white 30%, white 100%);
}
.profile-text{
  padding-top: 85px;
}

.icon-select {
  border-radius: 10px;
  border: #3583EF 1px solid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.icon-list {
  padding: 1rem;
  background-color: white;
  border: #3583EF solid 1px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 10px 10px 23px 0px rgba(196,196,196,0.75);
-webkit-box-shadow: 10px 10px 23px 0px rgba(196,196,196,0.75);
-moz-box-shadow: 10px 10px 23px 0px rgba(196,196,196,0.75);
  bottom: 3rem;
  right: 5rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  min-width: 30rem;
  max-width: 60rem;
}

.icon-list img {
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  border-radius: 10px;
  box-sizing: border-box;
}

.icon-list img:hover {
  background-color: #3583EF;
  color: white;
}

.select-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.swal2-styled.swal2-cancel{
  background-color: white !important; 
  border: solid 2px #0D6AEC !important;
  color: #0D6AEC !important;
  border-radius: 12px;
}

.swal2-styled.swal2-confirm{
  border-radius: 12px;
  border: solid 2px #0D6AEC !important;
}